*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# Emacs temp files
*~

# Notebooks
docs/.ipynb_checkpoints
/bin/

# Wikitables data (large files)
data/WikiTableQuestions

# Dynet jars (machine-specific)
lib/dynet*
lib/jollyday.jar
lib/stanford-corenlp-*models.jar
